# Ignore sensitive API keys
.env

# Ignore Python virtual environments
venv/
backend/venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore IDE-specific settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db